* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('images/background.jpg');
    font: normal 15px 'Lato', sans-serif;
    color: white;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

/*HEADER*/
header {
    color: white;
    display: grid;
    place-items: center;
    padding-top: 5rem;
}

header h1 {
    font-family: 'Raleway', sans-serif;
}

header p {
    text-align: center;
    margin-top: 1rem;
}

/*BOX*/
section {
    background: rgba(10, 10, 10, 0.8);
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 10px;
    display: grid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

.numero-streams p {
    line-height: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

#num {
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

#btncalcular {
    padding: 1rem 3rem;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(to right, #7474BF 0%, #348AC7 51%, #7474BF 100%);
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 1rem;
}

#btncalcular:hover {
    cursor: pointer;
    background-position: right center;
}

hr {
  width: 35%;
  color: black;
  margin: 0 auto;
  border-color: #606060;
  margin-top: 1rem;
}

/*GRID PLATAFORMAS*/
.spotify {
    grid-area: spotify;
}

.deezer {
    grid-area: deezer;
}

.amazon {
    grid-area: amazon;
}

.apple {
    grid-area: apple;
}

.ytmusic {
    grid-area: ytmusic;
}

.tidal {
    grid-area: tidal;
}

.yt {
    grid-area: yt;
}

.container {
    display: grid;
    grid-template-areas: 
    "spotify deezer amazon"
    "apple ytmusic tidal"
    ". yt .";
    grid-template-columns: repeat(3, 210px);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    grid-gap: 30px;
    margin-top: 1rem;
}

/*GRID INTERNO PLATAFORMAS*/
.logoplataforma {
    grid-area: logo;
}

.nomeplataforma {
    grid-area: nome;
}

.reais {
    grid-area: reais;
    color: grey;
}

.dols {
    grid-area: dols;
    color: grey;
}

.platforms {
    display: grid;
    grid-template-areas: 
    "logo nome"
    "logo reais"
    "logo dols";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 22px);
    padding: 5px 1px;
    border: 1px solid #474747;
    border-radius: 5px;
}

.platforms img {
    filter: invert(100%);
    align-self: center;
    justify-self: center;
}

.platforms h2 {
    font-size: 1rem;
}

/*RODAPÉ caixa*/
#obs {
    display: grid;
    place-items: center;
    color: grey;
    padding: 2rem 7rem;
    font-size: 0.7rem;
}


@media (max-width: 1386px) {
    section {
        width: 60%;
    }

    .container {
        grid-template-columns: repeat(2, 210px);
        grid-template-rows: repeat(4, 100px);
        grid-template-areas: 
        "spotify deezer"
        "amazon apple"
        "ytmusic tidal"
        "yt .";
    }
}

@media(max-width: 800px) {
    section {
        width: 90%;
        margin-left: -1px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .platforms {
        width: 90%;
    }

    #obs {
        padding: 1rem 2rem;
    }
}